:root {
    --c-primary-light: #ffffff;
    --c-primary: #222F3D;
    --c-primary-dark: #0E1721;
    --c-secundary-light: #FFEFE0;
    --c-secundary: #FFC999;
    --c-secundary-dark: #FFA96B;
    --c-font: #232222;
}

body,
html {
    background: var(--c-primary-light);
    color: var(--c-font);
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

.card{

    height: 12rem;
    width: 20rem;
}

.picture{
    height: 60%;
    width: 75%;
}

.card-name-ppal{
    height: 4rem;
}

.text-data{
    font-size: .8rem;
    font-weight: normal;
    margin-bottom: .4rem;
}

  
  
  
  
  
  